{% extends 'modelo.html' %}
{% block conteudo %}

<br>
<br>
<div>Jadson</div><br>
    <ul>
        <li><a href="" target="_blank">Linkedin</a></li>
        <li><a href="" target="_blank">Github</a></li>
        <li>E-mail: jadsonlink@gmail.com</li>
    </ul>
<br>
<br>
<div>Santhiago</div><br>
    <ul>
        <li><a href="" target="_blank">Linkedin</a></li>
        <li><a href="" target="_blank">Github</a></li>
        <li>E-mail: santhiagosantos7@gmail.com</li>
    </ul>

<br>
<br>
<div>Vitor</div><br>
    <ul>
        <li><a href="https://www.linkedin.com/in/vitor-lins-251127296/" target="_blank">Linkedin</a></li>
        <li><a href="https://github.com/vbreno" target="_blank">Github</a></li>
        <li>E-mail: vbrenodeveloper@gmail.com</li>
    </ul>
<br>
<br>


{% endblock %}